body {
	font-family: calibri;
	background-color: #FBCF9F;
}

.container {
	width: 1000px;
	margin: 0 auto;
	background-color: #F2F2F2;
}

.container header ul {
	border-radius: 0px;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.container header ul li{
	box-sizing: border-box;
	text-transform: capitalize;
	border-bottom: 5px solid #292929;;
	font-weight: bold;
	float: left;	
	cursor: pointer;
	width: 25%;
	padding: 10px 0px;
	text-align: center;
	font-size: 150%;
}

.container header ul li i {
	font-size: 100%;
	line-height: 0px;
	vertical-align: -2px;
}

.container header ul li a {
	text-decoration: none;
	color: #292929;
}

.container header ul li:hover {
	border-bottom: 5px solid #15939D;
	background: #C9F4F8;
}
.container header ul li:hover a{
	color: #15939D;
}

.container header ul li:last-child {
	border-right: none;
}

.container header ul li i{
	padding-right: 10px;
}

.clear:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.grid-full {
	padding: 10px 25px;
	margin: 0 auto;
}

img.pull-left {
	float: left;
	padding-right: 10px;
}

img.pull-right {
	float: right;
	padding-left: 10px;
}

p.primary {
	font-size: 18px;
}

p.secondary {
	font-size: 16px;
}

p {
	font-size: 14px;
	color: #212425;
}

article {
	border-bottom: 5px solid #4F4F4F;
	box-shadow: inset 0px 0px 10px 0px #DFDFDF;
}

h2 {
	text-transform: uppercase;
	background-color: #FFFFFF;
	padding: 10px;
	border-bottom: 5px solid #292929;
}

h2:before {
	content: '>';
	font-size: 50%;
	vertical-align: 2.5px;
}

dl {
	padding-left: 20px;
	margin-bottom: 10px;
	padding: 5px;
}

dl dt {
	font-weight: bold;
	font-size: 110%;
}

dl dd {
	margin-left: 10px;
	max-width: 75%;
	font-style: italic;
	padding: 5px;
	border-top: 3px solid #292929;
	border-left: 3px solid #292929;	
}


form input, form{
	padding: 5px;
	background-color: #FFFFFF;
	border: 1px solid #292929;
}

form {
	width: 350px;
	padding: 30px 0px;
	margin: 0 auto;
	background-color: #fff;
}

form label {
	display: inline-block;
	text-align: left;
	padding: 5px;
	width: auto;
}

form label:last-child {
	padding-top: 20px;
	width: auto;
}

.form-elem {
	text-align: center;
	margin-bottom: 10px;
}

form #getSpam:checked + input {
	opacity: 1;
	pointer-events: all;
}

form input[type=submit] {
	pointer-events: none;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	opacity: 0.5;
	background-color: #292929;
	color: white;
	border: 3px solid #292929;
}

input[type=checkbox] {
	vertical-align: -3px;
}